# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.sqlite3

# Virtual env
venv/
env/
.venv/
ENV/
.env

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Google credentials & configs
credentials.json
*.key.json
config.json
config.py

# Logs
*.log

# Cache / compiled
*.egg-info/
dist/
build/
